/* Write your CSS here */
.bg-container {
  min-height: 50vh;
  display: flex;
  padding: 25px;
  align-items: center;
  align-self: center;
}
.border-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  border: 3px solid;
  align-self: center;
  padding: 15px;
  height: 200px;
}
.light-mode {
  background-color: #ffffff;
  border: 1px solid;
  color: #000000;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.heading {
  font-family: 'Roboto';
  font-size: 27px;
  font-weight: 500;
}
.button {
  border-radius: 9px;
  height: 45px;
  width: 110px;
  background-color: #ffffff;
  border: 3px solid;
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .bg-container {
    justify-content: center;
    align-items: center;
  }
}
